body {
    background-image:url("mars.gif");
    background-position: center;
    background-size: cover;
}
canvas {
    background-color:white;
    border:10px ridge;
    margin-top:30px;
}
h1,h4 {
    color:white !important;
    
}